<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.9/css/all.css">
    <link rel="stylesheet" type="text/css" href="../public/css/stylesheet.css">
    <title>Chat demo</title>
</head>

<body>

    </select>
    <div id="wrapper">
        <div id="menu">
            <p class="welcome">Your ID:
                <span id="yourId" style="font-weight: bold"></span>. &nbsp;Display name:
                <a id="yourName" style="font-weight: bold" href="#"></a>
            </p>
            <p class="logout">
                <a id="exit" href="#">Exit Chat</a>
            </p>
            <div style="clear:both"></div>
        </div>

        <div id="chatbox">

        </div>

        <div class="input-group mb-3">
            <input name="usermsg" type="text" id="usermsg" class="form-control" placeholder="Enter message or type /? for help..."
                size="63" />
            
            <div class="input-group-append">
                <button name="submitmsg" type="button" class="btn btn-primary" id="submitmsg">
                    <i class="fas fa-arrow-right"></i>
                </button>
                
            </div>
        </div>
        
    </div>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script type="text/javascript" src="/public/js/chat.js"></script>
</body>

</html>