<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.9/css/all.css">
    <title>Demo chat</title>
</head>

<body>
    <div class="container">

        <div class="card mt-5">
            <div class="card-body mx-auto">
                <span class="text-center">Socket.IO Example</span>
                <button type="button" id="redirect" class="btn btn-primary text-center">
                    <i class="fas fa-arrow-right"></i>
                    Start conversation
                </button>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('#redirect').click(function (e) {
        e.preventDefault()
        window.location = "/chat"
    })
</script>

</html>